In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
for var in 12345:
    print(var ** 2)

In [ ]:
for var in '12345':
    print(var ** 2)

In [ ]:
for var in '12345':
    print(var * 2)

In [ ]:
for digit in '12345':
    print(digit * int(digit))

In [ ]:
student = {
    '19EARCS090': ['RAJAT KHANDELWAL', 6377529014],
    '19EARCS091': ['RAJAT YADAV', 9641198745],
    '19EARCS092': ['RAJEEV DEY', 6985214956],
    '19EARCS093': ['REHAN KHAN', 9865326941],
    '19EARCS094': ['ROHAN KHANDELWAL', 8764090615]
}

for var in student:
    print(var)

for key in student:
    value = student[key]
    print(f"{key:>20} = {value}")


for var in student.items():
    print(var)

for var in student.items():
    print(var)
    break

for var in student.items():
    key, value = var
    print(f"{key:>20} = {value}")

for (key,value) in student.items():
    print(f"{key:^20} = {value}")

In [ ]:
info = [
    ['Rajat', 'Developer', 'Jaipur'],
    ['Pranav', 'Engineer', 'Agra'],
    ['Sagar', 'Tester', 'Bihar'],
    ['Mohit', 'Developer', 'Udaipur'],
    ['Jatin', 'Engineer', 'Gujrat']
]

for (name,role,city) in info:
    print("_"*34)
    print(f"|{name:^10}|{role:^10}|{city:^10}|")

In [ ]:
sells = [
    ['apple', 20, 50000],
    ['samsung', 30, 40000],
    ['oppo', 50, 150000]
]
print("-"*43)
print(f"|{'product':^20}|{'Total Sell':^20}|")
for (product,quantity,value) in sells:
    print("-"*43)
    print(f"|{product:^20}|{quantity*value:^20}|")